<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR" strict="true">
  <Appenders>
    <Appender type="Console" name="STDOUT">
    	<Layout type="PatternLayout" pattern="%-4r [%t] %-5p %c %x - %m%n"/>
    </Appender>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>
</Configuration>
